server/src/main/webapp/xsd/wsdl_objects.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.agh.edu.pl/sius" xmlns:tns="http://www.agh.edu.pl/sius" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Balance" type="tns:balance"/>

  <xs:element name="Group" type="tns:group"/>

  <xs:element name="GroupDetails" type="tns:groupDetails"/>

  <xs:element name="OrderDetails" type="tns:orderDetails"/>

  <xs:element name="Payment" type="tns:payment"/>

  <xs:element name="Product" type="tns:product"/>

  <xs:element name="ResponseBalances" type="tns:responseBalances"/>

  <xs:element name="ResponseGroupDetails" type="tns:responseGroupDetails"/>

  <xs:element name="ResponseGroups" type="tns:responseGroups"/>

  <xs:element name="ResponseOrderDetails" type="tns:responseOrderDetails"/>

  <xs:element name="ResponsePayments" type="tns:responsePayments"/>

  <xs:element name="ResponseProduct" type="tns:responseProduct"/>

  <xs:element name="ResponseProducts" type="tns:responseProducts"/>

  <xs:element name="ResponseSimple" type="tns:responseSimple"/>

  <xs:element name="ResponseUser" type="tns:responseUser"/>

  <xs:element name="ResponseUserDetails" type="tns:responseUserDetails"/>

  <xs:element name="User" type="tns:user"/>

  <xs:element name="UserDetails" type="tns:userDetails"/>

  <xs:complexType name="responseUser">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="user" type="tns:user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="firstname" type="xs:string" minOccurs="0"/>
      <xs:element name="lastname" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="token" type="xs:string" minOccurs="0"/>
      <xs:element name="maxDept" type="xs:decimal" minOccurs="0"/>
      <xs:element name="groups" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="groups" type="tns:group" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="from" type="tns:user" minOccurs="0"/>
      <xs:element name="to" type="tns:user" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseBalances">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="balances" type="tns:balance" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="balance">
    <xs:sequence>
      <xs:element name="user" type="tns:user" minOccurs="0"/>
      <xs:element name="balance" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="billings">
    <xs:sequence>
      <xs:element name="balance" type="xs:decimal" minOccurs="0"/>
      <xs:element name="first" type="tns:user" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="maxFirstUserDebtToSecondUser" type="xs:decimal" minOccurs="0"/>
      <xs:element name="maxSecondUserDebtToFirstUser" type="xs:decimal" minOccurs="0"/>
      <xs:element name="payments" type="tns:payment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="second" type="tns:user" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseProduct">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="products" type="tns:product" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="cost" type="xs:decimal" minOccurs="0"/>
      <xs:element name="users" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="users" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="maxUserPerProduct" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userDetails">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="firstname" type="xs:string" minOccurs="0"/>
      <xs:element name="lastname" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="token" type="xs:string" minOccurs="0"/>
      <xs:element name="maxDept" type="xs:decimal" minOccurs="0"/>
      <xs:element name="groups" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="groups" type="tns:group" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseOrderDetails">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="orderDetails" type="tns:orderDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderDetails">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="tns:orderState" minOccurs="0"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="realizedBy" type="tns:user" minOccurs="0"/>
      <xs:element name="products" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="products" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseSimple">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseProducts">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="products" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseGroupDetails">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="groupDetails" type="tns:groupDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="groupDetails">
    <xs:sequence>
      <xs:element name="id" type="xs:ID" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="orders" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orders" type="tns:orderDetails" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="memberUsers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="memberUsers" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="applicantUsers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="applicantUsers" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseUserDetails">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="userDetails" type="tns:userDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseGroups">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="groups" type="tns:group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responsePayments">
    <xs:sequence>
      <xs:element name="operationStatus" type="tns:operationStatus" minOccurs="0"/>
      <xs:element name="msg" type="xs:string" minOccurs="0"/>
      <xs:element name="payments" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="operationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCEED"/>
      <xs:enumeration value="WARN"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="orderState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN"/>
      <xs:enumeration value="IN_PROGRES"/>
      <xs:enumeration value="REALIZED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

